.haute{
  display: flex;
  align-content:space-evenly;
  height: 200vh;
  background-repeat: no-repeat;
  opacity: 50%;
  background-size: cover;
  width: 100%;
  }
  
.logonet{
  height: 150px;
  width: 150px;
  margin: 12px;
}
.buttonet{
  display: flex;
  width: 200px;
  height: 50px;
}